@import 'styles/mixins';
.clsprefix-dateinput {
  @include flex-align-center();

  justify-content: center;
  height: 30px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-right: 10px;
}

.clsprefix-dateinput-date {
  width: 100%;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  &::placeholder {
    color: rgba(0, 0, 0, 0.38);
  }
}
