@import 'styles/mixins';

.clsprefix-quarterview {
  overflow-y: auto;
  height: 195px;
}
.clsprefix-quarterview-row {
  display: flex;
  height: 65px;
}
.clsprefix-quarterview-cell {
  @include flex-align-center();

  justify-content: center;
  height: 65px;
  width: 72.5px;
  color: rgba(0, 0, 0, 0.38);
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  &:hover {
    cursor: pointer;
  }
}
.clsprefix-quarterview-cell-selected {
  color: #1464bf;
  background: #f2f2f2;
}
.clsprefix-quarterview-foot {
  @include flex-align-center();

  justify-content: center;
  height: 46px;
  font-size: 12px;
  font-weight: 500;
  div {
    @include flex-align-center();

    justify-content: center;
    height: 24px;
    width: 36px;
    color: rgba(0, 0, 0, 0.38);
    border-radius: 15px;
    &:hover {
      cursor: pointer;
    }
  }
  .selected {
    background: #f2f2f2;
    color: #1464bf;
  }
}
